html {
  height: 100%;
}

body {
  font-family: "Montserrat";
  color: #000;
  min-height: 100%;
  display: flex;
  flex-direction: column;

}

#title {
  background-color: #141010;
  color: #fff;
  text-align: center;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 3rem;
  line-height: 1.5;
}

  /* display: flex; */

.common{
  position: relative;
  bottom: 50px;
  padding-left: 180px;

}

.intro{
  position: relative;
  bottom: 50px;
  padding-right: 120px;

}

.heading {
  text-align: center;
  margin: auto;
}

.container-fluid {
  padding: 3% 15%;
}

h3 {
  font-family: 'Montserrat';
  font-weight: bold;
  color: #000;
}

.name {
font-family: 'Fjalla One', sans-serif;
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.1;
}

p {
  color: #40514E;
}

/* Navigation Bar */
.navbar {
  padding-bottom: 4.5rem;
}

.navbar-brand {
  font-family: "Alumni Sans";
  font-weight: 500;
  font-size: 2.7rem;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat";
  font-weight: 300;
}

/* Buttons */
.about-button {
  margin: 2% 0% 5% 0%;
}

.card-button {
  width: 180px;
  margin: auto;
}

/* Features Secition */
#features {
  padding: 7% 15%;
}

.feature-box {
  text-align: center;
  padding: 5%;
}

.card {
  background-color: #212529;
  border-radius: .50rem;
}

.card-text {
  color: #fff;
}

.card-title {
  color: #fff;
}

.post-column {
  padding-bottom: 5%;
}

/* Footer */
#footer {
  padding: 1% 15%;
  text-align: center;
  background-color: #313131;
  margin-top: auto;
  
}

.p-text {
  color: #fff;
}

.sm-icon {
  padding: 20px 10px;
}

/* About me page styles */
.about-page-p {
  text-align: center;
  padding-top: 10%;
  padding-bottom: 10%;
  padding-left: 30%;
  padding-right: 30%;
}

.about-h1{
  font-size: 2.5rem;
}

.img-fluid{
  padding: 20px 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;

}
/* Posts Section  */


.about{
  padding: 5% 30% 5% 30%;
}

.p1 {
    padding: 5% 30% 5% 30%;
}

/* Post 2 */
.p2 {
  padding: 5% 30% 5% 30%;

}

.p3 {
    padding: 5% 30% 5% 30%;
}

.caption{
  text-align: center;
}



.p4 {
  text-align: justify;
  padding: 7% 15%;

}

.p5{
  padding: 1% 30% 1% 30%;
}

.p6{
  padding: 5% 30% 5% 30%;
}

.p7{
  padding: 5% 30% 5% 30%;
}

.p8{
  padding: 5% 30% 5% 30%;
}

.p9{
  padding: 5% 30% 5% 30%;
}

.p10{
  padding: 5% 30% 5% 30%;
}

.p11{
  padding: 5% 30% 5% 30%;
}

.p12{
  padding: 5% 30% 5% 30%;
}


@media (min-width: 320px) and (max-width: 767px) {

 .name {
   font-family: 'Fjalla One', sans-serif;
   font-weight: bold;
    color: #fff;
    font-size: 2.4rem;
  }


.container-fluid{
  position: relative;
  width: 100%;
}

.common{
  margin: auto;
  padding-left: 12%;
  padding-bottom: 20px;
}

.intro{
padding-right: 0px;
}

.me{
  width: 200px;
  height: 200px;
  position: relative;
  left: 38px;
}
  
body{
  padding:0%;
}

.office-image{
  height: 250px;
  width: 250px;
}



.p1 {
  text-align: justify;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 5%;
  padding-right: 5%;
}

.p2 {
  text-align: justify;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 5%;
  padding-right: 5%;
}

.p3 {
  text-align: justify;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 5%;
  padding-right: 5%;
}

.p4 {
  text-align: justify;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 5%;
  padding-right: 5%;
}

.p5 {
  text-align: justify;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 5%;
  padding-right: 5%;
}

.p6 {
  text-align: justify;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 5%;
  padding-right: 5%;
}

.p7 {
  text-align: justify;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 5%;
  padding-right: 5%;
}

.p8 {
  text-align: justify;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 5%;
  padding-right: 5%;
}

.p9 {
  text-align: justify;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 5%;
  padding-right: 5%;
}

.p10 {
  text-align: justify;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 5%;
  padding-right: 5%;
}

.p11 {
  text-align: justify;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 5%;
  padding-right: 5%;
}

.p12 {
  text-align: justify;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 5%;
  padding-right: 5%;
}

.about{
  text-align: justify;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 5%;
  padding-right: 5%;
}


}


@media (min-width: 768px) and (max-width: 1023px) {

 .section{
   position: relative;
   left: 70px;
   width: 80%;
 }

 .intro{
   left: 60px;
 }

.common{
  padding-bottom: 10px;
}

.me{
  width: 240px;
  height: 240px;
  position: relative;
  left: 15px;
}

}


